# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files you want to always be normalized
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.env text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Binary files (should not be modified by git)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary